/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    font-family: 'Open Sans', sans-serif;
}

.hide {
    display: none
}

#map {
  height: 100vh;
  width: 100%;
}

#login-blackout {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#first-login {
    display: none;
    left: 50%;
    transform: translate(-50%, -5%) scale(0.8);
    z-index: 1001;
    position: absolute;
    width: 75%;
}

#login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#login-page > .close {
    color: white;
    display: flex;
    justify-content: flex-end;
}

#login-page > .close:hover,
#login-page > .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.login-interior {
    background-color: white;
    border-radius: 0 0 5px 5px;
    padding: 30px 50px;
    text-align: center;
    position: relative;
    margin-top: 0;
}

.login-interior h1 {
    font-size: 40px;
}

.login-background {
    margin-bottom: -0.3em;
}


.login-background img {
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px 5px 0 0;
}

.login-twitter-details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px 0;
}

.twitter-login {
    order: 1;
    align-self: center;
}

button > .fa-twitter {
    color: white;
}

#twitter-login-button {
    background-color: #1DA1F2;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 20px;
}

.twitter-permissions {
    align-self: center;
    order: 2;
}

.twitter-permissions li {
    list-style-type: disc;
    text-align: left;
    font-size: 15px;
}

* {
    margin:0;
    padding:0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #46ACC2;
}

html {
    min-width:480px;
}

.nav1 {
    width:150px;
    padding:0 25px 0 25px;
    background-color: #719E81;
    background-size: cover;
    position: fixed;
    top:0;
    height:100%;
    margin:0 0 0 -150px;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    transition: .5s ease-in;
    z-index: 99;
}

nav.menushow .menu-btn {
    -webkit-transform: rotate(45deg) !important;
    -moz-transform: rotate(45deg) !important;
    -o-transform: rotate(45deg) !important;
    -ms-transform: rotate(45deg) !important;
    transform: rotate(45deg) !important;
}

.menushow {
    margin: 0;
    padding: 0;
    box-shadow:0 0 50px 0 rgba(0,0,0,.5);
    width: 250px;
}

.menu-user{
    margin-top: 800px;
}


.nav1 ul {
    margin-top: 50px;
    padding: 0;
}

.nav1 a, .menu-btn a {
    background-color: none;
    color:#fff;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-decoration: none;
    padding:10px 15px;
    display: block;
    -webkit-transition: .25s ease-in;
    -moz-transition: .25s ease-in;
    -o-transition: .25s ease-in;
    -ms-transition: .25s ease-in;
    transition: .25s ease-in;
}

.nav1 a:hover  {
    background: rgba(255,255,255,.125);
}

.menu-btn {
    position: absolute;
    right:8px;
    top:8px;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    transition: .5s ease-in;
}

.menu-btn a {
    font-family: Arial;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    width:30px;
    height:30px;
    padding:3px;
}

.menu-btn a:hover {
    background: none;
}

.logo {
    display: flex;
    background-color: #666B6A;
    width: 400px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
    border-radius: 0 0 0 50px;
    box-shadow:0 0 50px 0 rgba(0,0,0,.5);
}

.logo h1{
    font-family: 'Space Mono', monospace;
    font-size: 30px;
    margin: 5px;
    align-self: center;
}

.logo a {
    text-decoration: none;
    color: white;
}

.logo img {
    transform: scale(0.8);
    padding-left: 15px;
}

.search {
    position: absolute;
    right: 0;
    z-index: 999;
    top: 100px;
}

.search input {
    border: none;
    border-radius: 5px;
    width: 350px;
    font-size: 16px;
    padding: 10px;
    box-shadow:0 0 50px 0 rgba(0,0,0,.5);
    position: relative;
    margin: 0 10px;
    text-indent: 25px;
}
.search .fa-search{
    position: absolute;
    left: 20px;
    top: 10px;
}

article {
    padding-left: 50px;
    margin: 0 auto;
    width:100%;
    height: 100%;
}

h1 {
    font-family: 'Space Mono', monospace;
    font-size:48px;
    margin-bottom: 25px;
}

.fa {
    margin-right: 10px;
}

label {
    display: block;
    margin-top: 20px;
}

.begin-form {
    background-color: #fefefe;
    margin: 5% auto;
    width: 60%;
    z-index: 99999;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.begin-form h2 {
    text-align: center;
    font-family: 'Space Mono', monospace;
}

.begin-form input {
    border: none;
    border-bottom: 2px solid #DCBF85;
    width: 100%;
    padding: 10px 20px;
    font-size: 14px;
    box-sizing: border-box;
}

.begin-form input[type="submit"]{
    display: block;
    border: none;
    color: white;
    background-color: #EE6352;
    border-bottom: 2px solid #cc2713;
    border-radius: 10px;
    width: 400px;
    font-size: 18px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 0 auto;
}

.input-button {
    padding: 40px 0 30px;
}

.begin-form input[type="submit"]:hover, .response-input:hover {
    background-color: #D35847;
    border-bottom: 2px solid #D35847;
}

.form-style {
    margin: 0 auto;
}

.new_journey {
    padding-top: 20px;
    padding: 0 5%;
}

.form-header {
    background: #EE6352;
    color: white;
    border-radius: 10px 10px 0px 0px;
    padding: 5px;
    position: relative;
}

.form-header > .close {
    color: white;
    position: absolute;
    top: 0;
    right: 10px;
}

#overlay {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.nav2 {
    width:400px;
    padding:0 25px 0 25px;
    background-color: #a2bfac;
    background-size: cover;
    position: fixed;
    top:0;
    height:100%;
    overflow: auto;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    transition: .5s ease-in;
    margin:0% 0 0 100%;
    z-index: 1001;
}

.nav2.menushow2 .menu-btn2 {
    -webkit-transform: rotate(45deg) !important;
    -moz-transform: rotate(45deg) !important;
    -o-transform: rotate(45deg) !important;
    -ms-transform: rotate(45deg) !important;
    transform: rotate(45deg) !important;
}

.menushow2 {
    padding: 0;
    box-shadow:0 0 50px 0 rgba(0,0,0,.5);
    width: 50%;
    margin:0% 0 0 60%;
    z-index: 1001;
}

.btn-slide {
    margin-right: 400px!important;
}

.menu-user2 {
    margin-top: 500px;
}

.nav2 ul {
    margin-top: 50px;
    padding: 0;
}

.nav2 a, .menu-btn2 a {
    background-color: none;
    color:#fff;
    font-size: 18px;
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    font-weight: 300;
    text-decoration: none;
    padding:10px 15px;
    display: block;
    margin-right: 30%/*!important*/;
    -webkit-transition: .25s ease-in;
    -moz-transition: .25s ease-in;
    -o-transition: .25s ease-in;
    -ms-transition: .25s ease-in;
    transition: .25s ease-in;
}

.nav2 a:hover {
    background: rgba(255,255,255,.125);
}

.menu-btn2 {
    margin-right: 95%;
    position: absolute;
    right:8px;
    top:8px;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    transition: .5s ease-in;
}

.button-slide {
    margin-right: 93%;
}

.menu-btn2 a {
    font-family: Arial;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    width:30px;
    height:30px;
    padding:3px;
    float: left;
}

.menu-btn2 a:hover {
    background: none;
}

.menuhide {
    padding: 0;
    box-shadow:0 0 50px 0 rgba(0,0,0,.5);
    width: 50%;
    margin:0% 0 0 100%;
}

iframe {
    display: flex;
    width: 75%;
    height: 300px;
    padding-left: 2.75%;
}

#map img {
    position: absolute;
    z-index: 99999;
}

#wrapper {
    position: relative;
}

#over_map {
    position: absolute; top: 70%; left: 5%; z-index: 99;
}

#over_map img {
    width: 200px; height: auto;
    opacity: .83;
}

.errors p {
    padding: 10px 0 0 10px;
    color: #CC5A71;
}

.tweet-details, .user-card {
    background-color: white;
    border-radius: 5px;
    padding: 16px;
    margin: 25px;
    border: #ddd 1px solid;
    border-top-color: #eee;
    border-bottom-color: #bbb;
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
    width: 70%;
}

.tweet-user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tweet-user-left {
    display: flex
}

.tweet-name-username {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

#twitter-name {
    font-weight: bold;
}

#twitter-username {
    color: #657786;
}

#twitter-text {
    font-size: 30px;
    font-weight: normal;
}

.twitter-avatar img {
    border-radius: 5px;
}

.invitations p {
    border: none;
}

invite-response-form {
    border-bottom: 2px solid #C18C5D;
}

.loader {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    position: absolute;
    margin: auto;
    top: 60%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: absolute;
    margin-bottom: 33%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.fa-twitter {
    color: #55ACEE;
    font-size: 25px;
}

#over_map:first-child {
    transform: scale(0.45);
    width: 100px;
    height: 100px;
    position: absolute;
    margin: auto;
    margin-bottom: 12px;
    margin-right: 25px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: absolute;
}

#slideout {
    line-height: 1.5;
}

#slideout h3 {

}

.user-card {
    display: flex;
    justify-content: space-between;
    margin: 25px 0 25px 20px;
}

.journeys-index h2, .journey-details h2, .journey-show h2 {
    font-family: 'Space Mono', monospace;
    background-color: #DCBF85;
    padding: 5px 10px;
    border-bottom: 2px solid #C18C5D;
    color: white;
}

.twitter-nickname {
    color: #657786;
}

.journey-details {
    background-color: white;
    border-bottom: 1px solid #dac3ae;
}

.journey-details a {
    color: #EE6352;
    font-size: 20px;
    padding: 10px 20px 10px 10px;
}

.journey-details p {
    padding: 0 10px 20px;
    color: #8e4137;
    font-size: 13px;
}

.host a {
    display: inline;
    font-size: 18px;
    color: #C18C5D;
    padding: 0;
    margin: 0 0 0 10px;
}

.fa-envelope {
    color: white;
    margin-left: 15px;
}

.response-input {
    border: none;
    color: white;
    background-color: #EE6352;
    border-bottom: 2px solid #cc2713;
    border-radius: 10px;
    width: 70px;
    font-size: 18px;
    box-sizing: border-box;
    margin: 15px 5px 20px;
    padding: 5px;
    cursor: pointer;
}

.invite-response-form > span {
    padding: 10px;
}

.search-submit {
    display: none;
}

.tweet-picture img {
    width: 40%;
}

.tweet-picture {
    border-radius: 5px;
    background-color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="range"] {
    box-shadow: none;
    width: 239px;
    -webkit-appearance: none;
    height: 10px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
}

input#textInput {
    background: none;
    box-shadow: none;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(123, 104, 102, 0.89);
    padding: 3px 16px 3px 0;
    background: #444;
    color: white;
    width: 96px;
}

input#textInput::-webkit-input-placeholder {
  color: white;
}

.range {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}
